main#furnitures {
    padding-bottom: 40px;
}
section.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
section.title div.row {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 5px;
    width: 4rem;
    background-color: rgb(82, 74, 74);
}
section.title p {
    width: 66%;
}
div.container {
    width: 40%;
    display: flex;
    justify-content: left;
    gap: 20px;
    align-items: center;
}
div.container div.left {
    margin-right: 20px;
    width: 30%;
}
div.container div.right {
    width: 70%;
}
div.container div.right h5 {
    font-size: larger;
    padding-bottom: 10px;
    color: rgb(82, 74, 74);
}
div.container div.right p {
    text-align: left;
}
.small {
    width: 100%
}
@media screen and (max-width: 900px) {
    section.row {
        flex-wrap: wrap;
}
    section.row div.container {
    width: 100%;
}                                                                                
}